<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="partials.css">
    <title>TinyApp</title>
  </head>

  <body style="font-size:20px;">

    <% include ./partials/_header %>
    <div style="max-width: 90%; margin: auto;">

      <% if (user) { %>
      <button type="submit" class="btn btn-primary"><a style="text-decoration: none; color: white;" href="/urls/new">Create New TinyUrl</a></button>

      <table style="width: 100%; margin: 20px auto;">
        <% for(key in urls) {%>
          <tr>
            <form method="POST" action="/urls/<%= key %>/delete">
              <td><strong><%= key %>:</strong></td>
              <td><a href="<%= urls[key]['longURL'] %>"><%= urls[key]['longURL'] %></a></td>
              <td><button type="button" class="btn btn-secondary"><a style="text-decoration: none; color: white;" href="/urls/<%= key %>">Edit</a></button></td>
              <td><button type="submit" value="DESTROY" class="btn btn-secondary">Delete</button></td>
            </form>
          <tr>
        <% } %>
      </table>

      <% } else { %>
      <h1 style="text-align: center; margin: 100px;">Please Login or Register</h1>
      <% } %>

    </div>
  </body>
</html>

